# Epitome of Salt: Sunset Show Notes 
## Author: Kevin Brar
We are going to see how we did at rating the MKM cards before they came out on arena. 

## Guests
Jon, Josh, Nate

## DataSet
https://www.17lands.com/tier_list/a5c17edddaea4680a28126dae2a5178f 

Last updated: 2024-03-01 10:44

In [1]:
# raters
raters = ['Jon', 'Josh', 'Kevin', 'Nate']

In [2]:
import pandas as pd

raters = ['Jon', 'Josh', 'Kevin', 'Nate']

c = pd.read_csv('data/MKM_Kevin_commons.csv')
u = pd.read_csv('data/MKM_Kevin_uncommons.csv')
eos = pd.concat([c, u], ignore_index=True)
eos = eos[['Name', 'Color', 'Rarity']]

for rater in raters:
    c = pd.read_csv('data/MKM_' + rater + '_commons.csv')
    u = pd.read_csv('data/MKM_' + rater + '_uncommons.csv')
    temp = pd.concat([c, u], ignore_index=True)
    eos[rater] = temp[rater]

tier_num = {'F': 0., 'G':0., 'G+':0., 'D-': 1., 'D': 2., 'D+': 3., 
            'C-': 4., 'C': 5., 'C+': 6., 'B-': 7., 'B': 8., 'B+': 9., 
            'A-': 10., 'A': 11., 'A+': 12.}

for rater in raters:
    eos[str(rater) + '_num'] = eos[rater].map(tier_num)

# adding in the MKM data the hard way to make sure the names match 
l = pd.read_csv('data/MKM_tier_list.csv')
names_eos = eos['Name'].tolist()
tiers = ['Unknown'] * len(names_eos)

for i, name in enumerate(names_eos):
    if name in l['Name'].tolist():
        index = l['Name'].tolist().index(name)
        tiers[i] = l.loc[index, 'Tier']

eos['Tier'] = tiers

eos['Tier_num'] = eos['Tier'].map(tier_num)
for rater in raters: 
    eos[str(rater) + '_error'] = abs(eos['Tier_num'] - eos[str(rater) + '_num'])
    
eos

,Name,Color,Rarity,Jon,Josh,Kevin,Nate,Jon_num,Josh_num,Kevin_num,Nate_num,Tier,Tier_num,Jon_error,Josh_error,Kevin_error,Nate_error
0,Novice Inspector,W,C,B-,C+,B-,B-,7.0,6.0,7.0,7.0,A-,10.0,3.0,4.0,3.0,3.0
1,Auspicious Arrival,W,C,C,C-,C-,D-,5.0,4.0,4.0,1.0,B-,7.0,2.0,3.0,3.0,6.0
2,Marketwatch Phantom,W,C,C+,D,C,B-,6.0,2.0,5.0,7.0,B-,7.0,1.0,5.0,2.0,0.0
3,Seasoned Consultant,W,C,C,D,D+,D,5.0,2.0,3.0,2.0,C,5.0,0.0,3.0,2.0,3.0
4,Due Diligence,W,C,D,D,D,D-,2.0,2.0,2.0,1.0,D+,3.0,1.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Case of the Shattered Pact,C,U,D+,D+,D+,C,3.0,3.0,3.0,5.0,D,2.0,1.0,1.0,1.0,3.0
189,Lumbering Laundry,C,U,D,D,D+,D,2.0,2.0,3.0,2.0,D,2.0,0.0,0.0,1.0,0.0
190,Magnetic Snuffler,C,U,C-,D,D+,D,4.0,2.0,3.0,2.0,D,2.0,2.0,0.0,1.0,0.0
191,Branch of Vitu-Ghazi,L,U,C-,C+,C+,D+,4.0,6.0,6.0,3.0,D+,3.0,1.0,3.0,3.0,0.0
192,Scene of the Crime,L,U,C-,D-,C+,D+,4.0,1.0,6.0,3.0,D+,3.0,1.0,2.0,3.0,0.0

## And The Winner Is... Jon

In [3]:
for rater in raters:
    error = eos[f'{rater}_error'].sum()
    print(f'Error for {rater}: {error}')

Error for Jon: 305.0
Error for Josh: 393.0
Error for Kevin: 344.0
Error for Nate: 340.0

## Biggest Misses

In [4]:
for rater in raters:
    temp = eos.copy()
    temp = temp.sort_values(by=f'{rater}_error', ascending=False)
    print(temp[['Name', 'Tier', rater]][0:5])

                            Name Tier Jon
138           Reckless Detective   B+   D
160                 Glint Weaver    B   D
90            Perimeter Enforcer    B  D+
92   Case of the Gateway Express   B+  C-
94         Neighborhood Guardian   A-   C
                      Name Tier Josh
94   Neighborhood Guardian   A-    D
152  Flourishing Bloom-Kin   B+    D
138     Reckless Detective   B+    D
128          Polygraph Orb    F   C+
100   Essence of Antiquity   D-   B-
                      Name Tier Kevin
138     Reckless Detective   B+    D-
152  Flourishing Bloom-Kin   B+    D+
77        Rakish Scoundrel   D-    C+
100   Essence of Antiquity   D-    C+
123    Clandestine Meddler   D+     B
                   Name Tier Nate
156       Chalk Outline   B-    G
158   A Killer Among Us   A-   D+
50      The Chase Is On   C+    G
1    Auspicious Arrival   B-   D-
168           Break Out    F   C+

## Hottest Takes

In [5]:
for rater in raters:
    temp = eos.copy()
    other_raters = [x for x in raters if x != rater]
    temp[f'{rater}_hot'] = abs(((temp[[f'{x}_num' for x in other_raters]].sum(axis=1)) / (len(other_raters))) - temp[f'{rater}_num'])
    temp = temp.sort_values(by=f'{rater}_hot', ascending=False)
    top_5_cols = ['Name', 'Tier'] + [f'{x}' for x in raters]
    top_5 = temp[top_5_cols].head(5)
    print(f'Top 5 for {rater}:')
    print(top_5)

Top 5 for Jon:
                      Name Tier Jon Josh Kevin Nate
100   Essence of Antiquity   D-  D-   B-    C+   C+
54   Suspicious Detonation   C-   B    D    C-    C
125    Nightdrinker Moroii    D   D   B-     C    C
186      Flotsam // Jetsam   D+   D   C+    D+   B-
24                Out Cold    C   C   D+     D   D-
Top 5 for Josh:
                     Name Tier Jon Josh Kevin Nate
97      Case File Auditor   C+   D   B-     D   D+
2     Marketwatch Phantom   B-  C+    D     C   B-
79   Undercover Crocodelf   C-  C-   D-     B   D+
94  Neighborhood Guardian   A-   C    D    B-   C+
54  Suspicious Detonation   C-   B    D    C-    C
Top 5 for Kevin:
                     Name Tier Jon Josh Kevin Nate
79   Undercover Crocodelf   C-  C-   D-     B   D+
115      Agency Outfitter    D   D   D-    C+   D+
144        Cornered Crook    C  C+    C     B    D
142    Harried Dronesmith   C+   C   B-    B+   C-
151     Aftermath Analyst    C  D-   D-     C    D
Top 5 for Nate:
                            Name Tier Jon Josh Kevin Nate
129         Undercity Eliminator   C+   B   C+     B    D
153  Case of the Trampled Garden    C   B   B-     B   D+
144               Cornered Crook    C  C+    C     B    D
128                Polygraph Orb    F   D   C+     C    G
186            Flotsam // Jetsam   D+   D   C+    D+   B-