# Epitome of Salt: Sunset Show Notes 
## Author: Kevin Stull
We are going to see how we did at rating the LCI cards before they came out on arena. 

## DataSet
https://www.17lands.com/tier_list/b8dad7059ff24da28da636a1c50da7e8

Last updated: 2023-12-21 14:19

In [63]:
import pandas as pd
sl = pd.read_csv('Data/LCI_17lands.csv')
sl = sl[['Name', 'Tier']]
eos = pd.read_csv('Data/LCI_EoS.csv')
eos['Name'] = eos['Name'].str[2:]
eos['Name'] = eos['Name'].str.replace(r'\(.*', '', regex=True)
eos['Name'] = eos['Name'].str.strip()
sl['Name'] = sl['Name'].str.strip()
merged_df = pd.merge(sl, eos, on='Name', how='inner')
num_common_names = len(merged_df)
merged_left_df = pd.merge(eos, sl, on='Name', how='left', indicator=True)
unmatched_eos = merged_left_df[merged_left_df['_merge'] == 'left_only']
if len(unmatched_eos != 0):
    print('Error, Missing Cards!')
merged_df

                       Name Tier Jon Kevin Nate
0       Dusk Rose Reliquary   B-  C+    C+   C+
1       Deathcap Marionette   C+  C+    C-   C-
2    Deep Goblin Skulltaker   D-  C+    D+   D+
3           Deep-Cavern Bat   A-   B     B    B
4               Defossilize   C+  C-     D   D+
..                      ...  ...  ..   ...  ...
195        Bloodthorn Flail   D-  D-    D+   D+
196        Broodrage Mycoid   D-   D    D-    D
197      Canonized in Blood    F  C-    D-    G
198         Chupacabra Echo   B+  B+     B    B
199             Dead Weight   C+   B    C+   C+

[200 rows x 5 columns]

## Point System
This is how we score the distance between "correct" predictions and our predictions

In [84]:
tier_num = {'F': 0., 'G':0., 'G+':0., 'D-': 1., 'D': 2., 'D+': 3., 'C-': 4., 'C': 5., 'C+': 6., 'B-': 7., 'B': 8., 'B+': 9., 'A-': 10., 'A': 11., 'A+': 12.}
raters = ['Tier', 'Jon', 'Kevin', 'Nate']
for rater in raters:
    merged_df[str(rater) + '_num'] = merged_df[rater].map(tier_num)
clean = merged_df.dropna().copy()

for rater in raters: 
    if rater != 'Tier':
        clean[str(rater) + '_error'] = abs(clean['Tier_num'] - clean[str(rater) + '_num'])

clean

,Name,Tier,Jon,Kevin,Nate,Tier_num,Jon_num,Kevin_num,Nate_num,Jon_error,Kevin_error,Nate_error
0,Dusk Rose Reliquary,B-,C+,C+,C+,7.0,6.0,6.0,6.0,1.0,1.0,1.0
1,Deathcap Marionette,C+,C+,C-,C-,6.0,6.0,4.0,4.0,0.0,2.0,2.0
2,Deep Goblin Skulltaker,D-,C+,D+,D+,1.0,6.0,3.0,3.0,5.0,2.0,2.0
3,Deep-Cavern Bat,A-,B,B,B,10.0,8.0,8.0,8.0,2.0,2.0,2.0
4,Defossilize,C+,C-,D,D+,6.0,4.0,2.0,3.0,2.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
195,Bloodthorn Flail,D-,D-,D+,D+,1.0,1.0,3.0,3.0,0.0,2.0,2.0
196,Broodrage Mycoid,D-,D,D-,D,1.0,2.0,1.0,2.0,1.0,0.0,1.0
197,Canonized in Blood,F,C-,D-,G,0.0,4.0,1.0,0.0,4.0,1.0,0.0
198,Chupacabra Echo,B+,B+,B,B,9.0,9.0,8.0,8.0,0.0,1.0,1.0
199,Dead Weight,C+,B,C+,C+,6.0,8.0,6.0,6.0,2.0,0.0,0.0

## And The Winner Is... Nate!!!

In [86]:
print('Error for Jon:', clean['Jon_error'].sum())
print('Error for Kevin:', clean['Kevin_error'].sum())
print('Error for Nate:', clean['Nate_error'].sum())

Error for Jon: 271.0
Error for Kevin: 267.0
Error for Nate: 262.0

## Additional Data Science